backend/app/templates/xml/xsdschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://streamworks.com/schema/v1"
           xmlns:sw="http://streamworks.com/schema/v1"
           elementFormDefault="qualified">

  <!-- Root Element -->
  <xs:element name="stream" type="sw:StreamType"/>

  <!-- Main Stream Type -->
  <xs:complexType name="StreamType">
    <xs:sequence>
      <xs:element name="metadata" type="sw:MetadataType"/>
      <xs:element name="parameters" type="sw:ParametersType" minOccurs="0"/>
      <xs:element name="schedule" type="sw:ScheduleType"/>
      <xs:element name="jobs" type="sw:JobsType"/>
      <xs:element name="monitoring" type="sw:MonitoringType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" default="1.0"/>
  </xs:complexType>

  <!-- Metadata Type -->
  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="version" type="xs:string"/>
      <xs:element name="created" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="owner" type="xs:string" minOccurs="0"/>
      <xs:element name="category" type="sw:CategoryType" minOccurs="0"/>
      <xs:element name="tags" type="sw:TagsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Category Type -->
  <xs:simpleType name="CategoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="data_processing"/>
      <xs:enumeration value="etl"/>
      <xs:enumeration value="reporting"/>
      <xs:enumeration value="monitoring"/>
      <xs:enumeration value="integration"/>
      <xs:enumeration value="backup"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tags Type -->
  <xs:complexType name="TagsType">
    <xs:sequence>
      <xs:element name="tag" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Parameters Type -->
  <xs:complexType name="ParametersType">
    <xs:sequence>
      <xs:element name="parameter" type="sw:ParameterType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ParameterType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="string"/>
              <xs:enumeration value="integer"/>
              <xs:enumeration value="boolean"/>
              <xs:enumeration value="date"/>
              <xs:enumeration value="path"/>
              <xs:enumeration value="array"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="default" type="xs:string"/>
        <xs:attribute name="required" type="xs:boolean" default="false"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Schedule Type -->
  <xs:complexType name="ScheduleType">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="once"/>
            <xs:enumeration value="recurring"/>
            <xs:enumeration value="trigger"/>
            <xs:enumeration value="manual"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:choice>
        <xs:sequence>
          <xs:element name="frequency" type="sw:FrequencyType" minOccurs="0"/>
          <xs:element name="time" type="xs:time" minOccurs="0"/>
        </xs:sequence>
        <xs:element name="cron" type="xs:string" minOccurs="0"/>
      </xs:choice>
      <xs:element name="timezone" type="xs:string" default="Europe/Berlin"/>
      <xs:element name="enabled" type="xs:boolean" default="true"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="retry_policy" type="sw:RetryPolicyType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="FrequencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hourly"/>
      <xs:enumeration value="daily"/>
      <xs:enumeration value="weekly"/>
      <xs:enumeration value="monthly"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="RetryPolicyType">
    <xs:sequence>
      <xs:element name="max_retries" type="xs:int" default="3"/>
      <xs:element name="retry_delay" type="xs:int" default="300"/> <!-- seconds -->
      <xs:element name="exponential_backoff" type="xs:boolean" default="true"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Jobs Type -->
  <xs:complexType name="JobsType">
    <xs:sequence>
      <xs:element name="job" type="sw:JobType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="JobType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="sw:JobTypeEnum"/>
      <xs:element name="priority" type="sw:PriorityType" default="normal"/>
      <xs:element name="depends_on" type="xs:string" minOccurs="0"/>
      <xs:element name="timeout" type="xs:int" minOccurs="0"/> <!-- minutes -->
      <xs:element name="tasks" type="sw:TasksType"/>
      <xs:element name="error_handling" type="sw:ErrorHandlingType" minOccurs="0"/>
      <xs:element name="config" type="sw:ConfigType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:simpleType name="JobTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="batch"/>
      <xs:enumeration value="streaming"/>
      <xs:enumeration value="etl_extract"/>
      <xs:enumeration value="etl_transform"/>
      <xs:enumeration value="etl_load"/>
      <xs:enumeration value="file_transfer"/>
      <xs:enumeration value="data_validation"/>
      <xs:enumeration value="notification"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PriorityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="low"/>
      <xs:enumeration value="normal"/>
      <xs:enumeration value="high"/>
      <xs:enumeration value="critical"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tasks Type -->
  <xs:complexType name="TasksType">
    <xs:sequence>
      <xs:element name="task" type="sw:TaskType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaskType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="type" type="sw:TaskTypeEnum"/>
      <xs:element name="depends_on" type="xs:string" minOccurs="0"/>
      <xs:element name="config" type="sw:ConfigType"/>
      <xs:element name="validation" type="sw:ValidationType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>

  <xs:simpleType name="TaskTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="file_check"/>
      <xs:enumeration value="csv_reader"/>
      <xs:enumeration value="xml_parser"/>
      <xs:enumeration value="data_transform"/>
      <xs:enumeration value="data_validation"/>
      <xs:enumeration value="database_insert"/>
      <xs:enumeration value="file_copy"/>
      <xs:enumeration value="email_notification"/>
      <xs:enumeration value="web_service_call"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Config Type (flexible key-value pairs) -->
  <xs:complexType name="ConfigType">
    <xs:sequence>
      <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Validation Type -->
  <xs:complexType name="ValidationType">
    <xs:sequence>
      <xs:element name="rule" type="sw:ValidationRuleType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ValidationRuleType">
    <xs:sequence>
      <xs:element name="field" type="xs:string"/>
      <xs:element name="condition" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="required"/>
          <xs:enumeration value="format"/>
          <xs:enumeration value="range"/>
          <xs:enumeration value="custom"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <!-- Error Handling Type -->
  <xs:complexType name="ErrorHandlingType">
    <xs:sequence>
      <xs:element name="on_failure">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="stop"/>
            <xs:enumeration value="continue"/>
            <xs:enumeration value="retry"/>
            <xs:enumeration value="skip"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="max_retries" type="xs:int" default="0"/>
      <xs:element name="notification" type="sw:NotificationType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NotificationType">
    <xs:sequence>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="webhook" type="xs:anyURI" minOccurs="0"/>
      <xs:element name="slack_channel" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Monitoring Type -->
  <xs:complexType name="MonitoringType">
    <xs:sequence>
      <xs:element name="alerts" type="sw:AlertsType" minOccurs="0"/>
      <xs:element name="metrics" type="sw:MetricsType" minOccurs="0"/>
      <xs:element name="logging" type="sw:LoggingType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AlertsType">
    <xs:sequence>
      <xs:element name="alert" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="condition" type="xs:string"/>
            <xs:element name="threshold" type="xs:string" minOccurs="0"/>
            <xs:element name="notification" type="sw:NotificationType"/>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="type" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="failure"/>
                <xs:enumeration value="performance"/>
                <xs:enumeration value="warning"/>
                <xs:enumeration value="info"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MetricsType">
    <xs:sequence>
      <xs:element name="metric" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="type" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="execution_time"/>
                <xs:enumeration value="file_size"/>
                <xs:enumeration value="record_count"/>
                <xs:enumeration value="error_rate"/>
                <xs:enumeration value="throughput"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="unit" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LoggingType">
    <xs:sequence>
      <xs:element name="level">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="debug"/>
            <xs:enumeration value="info"/>
            <xs:enumeration value="warning"/>
            <xs:enumeration value="error"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="output_path" type="xs:string" minOccurs="0"/>
      <xs:element name="max_file_size" type="xs:string" default="10MB"/>
      <xs:element name="retention_days" type="xs:int" default="30"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>