backend/resources/streamworks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://streamworks.arvato.com/schema"
            xmlns:sw="http://streamworks.arvato.com/schema"
            elementFormDefault="qualified">

  <!-- Root Element -->
  <xsd:element name="StreamWorksConfiguration" type="sw:ConfigurationType"/>

  <!-- Main Configuration Type -->
  <xsd:complexType name="ConfigurationType">
    <xsd:sequence>
      <xsd:element name="metadata" type="sw:MetadataType" minOccurs="0"/>
      <xsd:element name="workflow" type="sw:WorkflowType"/>
      <xsd:element name="connections" type="sw:ConnectionsType" minOccurs="0"/>
      <xsd:element name="monitoring" type="sw:MonitoringType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- Metadata Type -->
  <xsd:complexType name="MetadataType">
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="author" type="xsd:string" minOccurs="0"/>
      <xsd:element name="created" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="modified" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="tags" type="sw:TagsType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Tags Type -->
  <xsd:complexType name="TagsType">
    <xsd:sequence>
      <xsd:element name="tag" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Workflow Type -->
  <xsd:complexType name="WorkflowType">
    <xsd:sequence>
      <xsd:element name="step" type="sw:StepType" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- Step Type -->
  <xsd:complexType name="StepType">
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="parameters" type="sw:ParametersType" minOccurs="0"/>
      <xsd:element name="conditions" type="sw:ConditionsType" minOccurs="0"/>
      <xsd:element name="actions" type="sw:ActionsType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="type" type="sw:StepTypeEnum" use="required"/>
    <xsd:attribute name="order" type="xsd:int" use="required"/>
  </xsd:complexType>

  <!-- Step Type Enumeration -->
  <xsd:simpleType name="StepTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="data-extraction"/>
      <xsd:enumeration value="data-transformation"/>
      <xsd:enumeration value="data-validation"/>
      <xsd:enumeration value="file-processing"/>
      <xsd:enumeration value="database-operation"/>
      <xsd:enumeration value="api-call"/>
      <xsd:enumeration value="notification"/>
      <xsd:enumeration value="conditional"/>
      <xsd:enumeration value="loop"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Parameters Type -->
  <xsd:complexType name="ParametersType">
    <xsd:sequence>
      <xsd:element name="parameter" type="sw:ParameterType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Parameter Type -->
  <xsd:complexType name="ParameterType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="type" type="sw:ParameterTypeEnum" use="required"/>
        <xsd:attribute name="required" type="xsd:boolean" default="false"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <!-- Parameter Type Enumeration -->
  <xsd:simpleType name="ParameterTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="string"/>
      <xsd:enumeration value="number"/>
      <xsd:enumeration value="boolean"/>
      <xsd:enumeration value="date"/>
      <xsd:enumeration value="file-path"/>
      <xsd:enumeration value="connection-id"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Conditions Type -->
  <xsd:complexType name="ConditionsType">
    <xsd:sequence>
      <xsd:element name="condition" type="sw:ConditionType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Condition Type -->
  <xsd:complexType name="ConditionType">
    <xsd:attribute name="field" type="xsd:string" use="required"/>
    <xsd:attribute name="operator" type="sw:OperatorEnum" use="required"/>
    <xsd:attribute name="value" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- Operator Enumeration -->
  <xsd:simpleType name="OperatorEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="equals"/>
      <xsd:enumeration value="not-equals"/>
      <xsd:enumeration value="contains"/>
      <xsd:enumeration value="starts-with"/>
      <xsd:enumeration value="ends-with"/>
      <xsd:enumeration value="greater-than"/>
      <xsd:enumeration value="less-than"/>
      <xsd:enumeration value="exists"/>
      <xsd:enumeration value="not-exists"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Actions Type -->
  <xsd:complexType name="ActionsType">
    <xsd:sequence>
      <xsd:element name="action" type="sw:ActionType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Action Type -->
  <xsd:complexType name="ActionType">
    <xsd:sequence>
      <xsd:element name="parameters" type="sw:ParametersType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="sw:ActionTypeEnum" use="required"/>
    <xsd:attribute name="target" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- Action Type Enumeration -->
  <xsd:simpleType name="ActionTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="copy-file"/>
      <xsd:enumeration value="move-file"/>
      <xsd:enumeration value="delete-file"/>
      <xsd:enumeration value="execute-sql"/>
      <xsd:enumeration value="call-api"/>
      <xsd:enumeration value="send-email"/>
      <xsd:enumeration value="write-log"/>
      <xsd:enumeration value="set-variable"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Connections Type -->
  <xsd:complexType name="ConnectionsType">
    <xsd:sequence>
      <xsd:element name="connection" type="sw:ConnectionType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Connection Type -->
  <xsd:complexType name="ConnectionType">
    <xsd:sequence>
      <xsd:element name="parameters" type="sw:ParametersType"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" use="required"/>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="type" type="sw:ConnectionTypeEnum" use="required"/>
  </xsd:complexType>

  <!-- Connection Type Enumeration -->
  <xsd:simpleType name="ConnectionTypeEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="database"/>
      <xsd:enumeration value="file-system"/>
      <xsd:enumeration value="ftp"/>
      <xsd:enumeration value="rest-api"/>
      <xsd:enumeration value="soap-api"/>
      <xsd:enumeration value="email"/>
      <xsd:enumeration value="message-queue"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Monitoring Type -->
  <xsd:complexType name="MonitoringType">
    <xsd:sequence>
      <xsd:element name="alerts" type="sw:AlertsType" minOccurs="0"/>
      <xsd:element name="logging" type="sw:LoggingType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="enabled" type="xsd:boolean" default="true"/>
  </xsd:complexType>

  <!-- Alerts Type -->
  <xsd:complexType name="AlertsType">
    <xsd:sequence>
      <xsd:element name="alert" type="sw:AlertType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Alert Type -->
  <xsd:complexType name="AlertType">
    <xsd:attribute name="condition" type="xsd:string" use="required"/>
    <xsd:attribute name="action" type="xsd:string" use="required"/>
    <xsd:attribute name="severity" type="sw:SeverityEnum" use="required"/>
  </xsd:complexType>

  <!-- Severity Enumeration -->
  <xsd:simpleType name="SeverityEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="info"/>
      <xsd:enumeration value="warning"/>
      <xsd:enumeration value="error"/>
      <xsd:enumeration value="critical"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Logging Type -->
  <xsd:complexType name="LoggingType">
    <xsd:attribute name="level" type="sw:LogLevelEnum" use="required"/>
    <xsd:attribute name="destination" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- Log Level Enumeration -->
  <xsd:simpleType name="LogLevelEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="debug"/>
      <xsd:enumeration value="info"/>
      <xsd:enumeration value="warning"/>
      <xsd:enumeration value="error"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>